@model sybring_project.Models.Db.Project

@{
    ViewData["Title"] = "Create";
}

<section>
    <div class="container col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Create a new project</h5>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="mb-3">
                        <label asp-for="Name" class="control-label">Project Name</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Description" class="control-label">Task Description</label>
                        <textarea asp-for="Description" class="form-control" id="floatingDescription" style="height: 70px;"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="text-center">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}




