@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

@* <h3>@ViewData["Title"]</h3> *@
<partial name="_StatusMessage" for="StatusMessage" />

<div class="container">
    <div class="row ">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    @*   <div class="container d-flex justify-content-center">
                    <img src="~/logo/sybring_logo-black_1000px.png" height="50" width="auto" />
                    </div> *@

                    <h5 class="card-title text-center pb-0 fs-4">Profile</h5>

                    <form id="profile-form" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                            <label asp-for="Username" class="form-label"></label>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                            <label asp-for="Input.PhoneNumber" class="form-label"></label>
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                        
                        <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
