html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

img {
    height: 40px;
    max-width: 100%
}

.footer .container {
    width: 100%;
}
footer {
    width: 100%;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}


@media (min-width: 768px) {
    .footer .container, .footer .container-md, .footer .container-sm {
        max-width: none !important;
    }
}

@media (min-width: 576px) {
    .footer .container, .footer .container-sm {
        max-width: none !important;
    }
}


.containerlayout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Adjust as needed */
}

.containerlayout form {
    width: 100%; /* Ensure the form takes full width */
    max-width: 400px; /* Adjust as needed */
    padding: 20px; /* Adjust as needed */
    border: 1px solid #ccc; /* Example border */
    border-radius: 5px; /* Example border radius */
    background-color: #f9f9f9; /* Example background color */
    text-align: center; /* Center align form content */
}
.containerlayout h1 {
    margin-bottom: 20px; /* Adjust as needed */
    text-align:center
}