@model sybring_project.Models.ViewModels.TimeReportViewModel

@{
    ViewData["Title"] = "Create Text Field Report";
}

<h1>Create Text Field Report</h1>

@using (Html.BeginForm("Create", "Time", FormMethod.Post))
{
    <hr />

    <!-- validation  -->
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <h2>Week 1</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Day</th>             
                <th>Lunch Start</th>
                <th>Lunch End</th>
                <th>Enter Total Work Hours for a day</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.WeekData != null)
            {
                for (var i = 0; i < Model.WeekData.Count; i++)
                {
                    <tr>
                        <td>@Enum.GetName(typeof(DayOfWeek), i)</td>
                        <td>
                            <input type="text" class="form-control" name="WeekData[@i].BreakStart" value="12:00" />
                        </td>
                        <td>
                            <input type="text" class="form-control" name="WeekData[@i].BreakEnd" value="13:00" />
                        </td>

                        <td>
                            <input type="text" class="form-control" name="WeekData[@i].TotalWorkHours" />
                            
                        </td>
                      
                        <!-- validation error-->
                        <td>@Html.ValidationMessageFor(m => m.WeekData[i], "", new { @class = "text-danger" })</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7">No data available</td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Submit</button>
}