@model sybring_project.Models.Db.TimeHistory


@{
    ViewData["Title"] = "Details";
}


<h1>Time History Details</h1>


<div>
    <table class="table">
        <tr>
            <th>ID</th>
            
        </tr>


        <tr>
            <th>Date Time</th>
            
        </tr>
        
    </table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

