@model sybring_project.Models.ViewModels.TimeReportViewModel

@{
    ViewData["Title"] = "ReportDetails";
}

<h1>Report Details</h1>

<!-- Display the working hours or overtime -->
<table class="table">
    <thead>
        <tr>
            <th>Day</th>
            @if (ViewBag.OvertimeList != null && ViewBag.OvertimeList.Any())
            {
                <th>Overtime</th>
            }
            else
            {
                <th>Working Hours</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < ViewBag.WorkingHours.Count; i++)
        {
            <tr>
                <td>@Enum.GetName(typeof(DayOfWeek), i)</td>
                @if (ViewBag.OvertimeList != null && ViewBag.OvertimeList.Count > i && (decimal)ViewBag.OvertimeList[i] > 0)
                {
                    <td>@ViewBag.OvertimeList[i]</td>
                }
                else
                {
                    <td>@ViewBag.WorkingHoursList[i]</td>
                }
            </tr>
        }
    </tbody>
</table>

<a asp-action="CreateReport" asp-controller="Time" class="btn btn-primary">Go Back</a>
