@model List<sybring_project.Models.Db.TimeHistory>
@{
    ViewData["Title"] = "TimeHistoryList";
}

<h1>TimeHistoryList</h1>

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Start Work</th>
            <th>End Work</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var var in Model)
        {
            <tr>
                <td>@var.Date.ToShortDateString()</td>
                <td>@var.StartWork</td>
                <td>@var.EndWork</td>
                
            </tr>
        }
    </tbody>
</table>