@model sybring_project.Models.Db.Billing

@{
    ViewData["Title"] = "Edit Billing";
}

<div class="container ">
    <div class="row justify-content-center ">
        <div class="card  col-md-6">
            <div class="card-header">
                <h4><strong>Edit Expense Details </strong></h4>
            </div>
            <div >
                <form asp-action="Edit">
                    <div class="form-group">
                        <input type="hidden" asp-for="Id" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Cost"></label>
                        <input asp-for="Cost" class="form-control" />
                        <span asp-validation-for="Cost" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ImageLink"></label>
                        <input asp-for="ImageLink" class="form-control" />
                        <span asp-validation-for="ImageLink" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ProjectId" class="control-label">Project</label>
                        <select asp-for="ProjectId" class="form-control">
                            <option value="">Select a project</option>
                            @foreach (var project in Model.ProjectId)
                            {
                                <option value="@project.Id">@project.Name</option>
                            }
                        </select>
                        <span asp-validation-for="ProjectId" class="text-danger"></span>
                    </div>
                    <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-2 mb-3 ">Save</button>
                    </div>
                </form>
            </div>
            </>
        </div>
    </div>
</div>