@model sybring_project.Models.Db.Project

@if (Model is not null)
{
    <div class="row align-items-top">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-header">
                    <h4><strong>Project Information</strong></h4>
                </div>
                <div class="card-body p-3">
                    <h2>@Model.Name</h2>
                    <p> Description:@Model.Description</p>
                    @* <p>@Model.Companies</p> *@
                    <p>Contracts:@Model.Contracts</p>
                    <p>Project:@Model.ProjectHistories</p>
                    <p>Billing:@Model.Billing</p>
                    

                </div>
            </div>
        </div>
    </div>
}