@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="d-flex row justify-content-center ">
    <div class="card text-center p-3 mt-4 col-md-5">
          <div class="m-2" >
        <img src="~/logo/sybring_logo-black_1000px.png" height="50" width="auto" />
        </div>


    <h2 >@ViewData["Title"]</h2>
    <p>
        Please check your email to reset your password.
    </p>

   
    <p>
        Remember to check your spam/junk folder if you don't see the email in your inbox.
    </p>

</div>
</div>