@using sybring_project.ViewComponents

@addTagHelper *,sybring_project
<vc>
    <h2>User Information</h2>

    <div>
        <p><strong>User ID:</strong> @Model.UserId</p>
        <p><strong>Name:</strong> @Model.Name</p>
        
    </div>
</vc>
