@model bool

@{
    ViewData["Title"] = "CheckIsWorkingDay";
}

<h1>CheckIsWorkingDay</h1>


<!DOCTYPE html>
<html>
<head>
    <title>Check Working Day</title>
</head>
<body>
    <h2>Check Working Day</h2>
    <p>Is today a working day? @Model</p>
</body>
</html>
