@model sybring_project.Models.Db.User



<div class="container">
    <div class="row  justify-content-center">
        <div class="col-md-12">
            <section>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">User Details - Edit</h4>
                    </div>
                   
                    <div class="card-body">
                        <form asp-action="Edit" method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="Id" />

                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="FirstName" class="mb-2 mt-2">First Name</label>
                                        <input asp-for="FirstName" class="form-control" />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="LastName" class="mb-2 mt-2">Last Name</label>
                                        <input asp-for="LastName" class="form-control" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
@* 
                                    <div class="form-group">
                                        <label asp-for="Age" class="mb-2 mt-2">Age:</label>
                                        <input asp-for="Age" class="form-control" />
                                        <span asp-validation-for="Age" class="text-danger"></span>
                                    </div>
                                    *@
                                    <div class="form-group">
                                        <label asp-for="Address" class="mb-2 mt-2">Addres:</label>
                                        <input asp-for="Address" class="form-control" />
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div> 
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="TaskDescription" class="mb-2 mt-2">Task Description:</label>
                                        <textarea asp-for="TaskDescription" class="form-control" id="floatingDescription" style="height: 195px;"></textarea>
                                        <span asp-validation-for="TaskDescription" class="text-danger"></span>
                                    </div>

                            @*         <div class="form-group">
                                        <label asp-for="UserIncome" class="mb-2 mt-2">Income</label>
                                        <input asp-for="UserIncome" class="form-control" />
                                        <span asp-validation-for="UserIncome" class="text-danger"></span>
                                    </div> *@

                                  @*   <div class="form-group">
                                        <label asp-for="ProjectId">Project</label>
                                        @if (ViewBag.Projects != null && ViewBag.Projects.Count > 0)
                                        {
                                            <select asp-for="ProjectId" asp-items="@(new SelectList(ViewBag.Projects, "Id", "Name", Model.ProjectId))" class="form-control">
                                                <option value="">Select a Project</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <p>No projects available.</p>
                                        }
                                        <span asp-validation-for="ProjectId" class="text-danger"></span>
                                    </div> *@

                               
                                </div>
                            </div>
                            <div class="form-group text-center mb-3 mt-3">
                                <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-primary" >Back to List</a>
</div>



@section Scripts {
    <script>

    </script>
}
