@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>Info about Company</p>


<div id="content" class="site-content">
	<div class="ast-container">


		<div id="primary" class="content-area primary">


			<main id="main" class="site-main">
				<article class="post-27 page type-page status-publish ast-article-single" id="post-27" itemtype="https://schema.org/CreativeWork" itemscope="itemscope">


					<header class="entry-header ast-no-title ast-header-without-markup">
					</header> <!-- .entry-header -->


					<div class="entry-content clear" itemprop="text">


						<div data-elementor-type="wp-page" data-elementor-id="27" class="elementor elementor-27" data-elementor-post-type="page">
							<section data-particle_enable="false" data-particle-mobile-disabled="false" class="ob-is-breaking-bad elementor-section elementor-top-section elementor-element elementor-element-6f4589d elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="6f4589d" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
								<div class="elementor-background-overlay"></div>
								<div class="elementor-container elementor-column-gap-default">
									<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a22ad7a ob-is-e3" data-id="a22ad7a" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
										<div class="elementor-widget-wrap">
										</div>
									</div>
								</div>
							</section>
							<section data-particle_enable="false" data-particle-mobile-disabled="false" class="ob-is-breaking-bad elementor-section elementor-top-section elementor-element elementor-element-1036c76 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1036c76" data-element_type="section" data-settings="{&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
								<div class="elementor-container elementor-column-gap-default">
									<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-cd3ff1f ob-is-e3" data-id="cd3ff1f" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-6d6f49b ob-has-background-overlay elementor-widget elementor-widget-spacer" data-id="6d6f49b" data-element_type="widget" data-settings="{&quot;_ob_spacerat_use&quot;:&quot;no&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="spacer.default">
												<div class="elementor-widget-container">
													<style>
														/*! elementor - v3.19.0 - 07-02-2024 */
														.elementor-column .elementor-spacer-inner {
															height: var(--spacer-size)
														}

														.e-con {
															--container-widget-width: 100%
														}

															.e-con-inner > .elementor-widget-spacer, .e-con > .elementor-widget-spacer {
																width: var(--container-widget-width,var(--spacer-size));
																--align-self: var(--container-widget-align-self,initial);
																--flex-shrink: 0
															}

																.e-con-inner > .elementor-widget-spacer > .elementor-widget-container, .e-con > .elementor-widget-spacer > .elementor-widget-container {
																	height: 100%;
																	width: 100%
																}

																	.e-con-inner > .elementor-widget-spacer > .elementor-widget-container > .elementor-spacer, .e-con > .elementor-widget-spacer > .elementor-widget-container > .elementor-spacer {
																		height: 100%
																	}

																		.e-con-inner > .elementor-widget-spacer > .elementor-widget-container > .elementor-spacer > .elementor-spacer-inner, .e-con > .elementor-widget-spacer > .elementor-widget-container > .elementor-spacer > .elementor-spacer-inner {
																			height: var(--container-widget-height,var(--spacer-size))
																		}

																.e-con-inner > .elementor-widget-spacer.elementor-widget-empty, .e-con > .elementor-widget-spacer.elementor-widget-empty {
																	position: relative;
																	min-height: 22px;
																	min-width: 22px
																}

																	.e-con-inner > .elementor-widget-spacer.elementor-widget-empty .elementor-widget-empty-icon, .e-con > .elementor-widget-spacer.elementor-widget-empty .elementor-widget-empty-icon {
																		position: absolute;
																		top: 0;
																		bottom: 0;
																		left: 0;
																		right: 0;
																		margin: auto;
																		padding: 0;
																		width: 22px;
																		height: 22px
																	}</style>		<div class="elementor-spacer">
														<div class="elementor-spacer-inner"></div>
													</div>
												</div>
											</div>
											<div class="elementor-element elementor-element-e3ed832 ob-harakiri-inherit ob-has-background-overlay elementor-widget elementor-widget-heading ob-harakiri" data-id="e3ed832" data-element_type="widget" data-settings="{&quot;_ob_use_harakiri&quot;:&quot;yes&quot;,&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_harakiri_text_clip&quot;:&quot;none&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<style>
														/*! elementor - v3.19.0 - 07-02-2024 */
														.elementor-heading-title {
															padding: 0;
															margin: 0;
															line-height: 1
														}

														.elementor-widget-heading .elementor-heading-title[class*=elementor-size-] > a {
															color: inherit;
															font-size: inherit;
															line-height: inherit
														}

														.elementor-widget-heading .elementor-heading-title.elementor-size-small {
															font-size: 15px
														}

														.elementor-widget-heading .elementor-heading-title.elementor-size-medium {
															font-size: 19px
														}

														.elementor-widget-heading .elementor-heading-title.elementor-size-large {
															font-size: 29px
														}

														.elementor-widget-heading .elementor-heading-title.elementor-size-xl {
															font-size: 39px
														}

														.elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
															font-size: 59px
														}</style><h2 class="elementor-heading-title elementor-size-default">Våra värdeord</h2>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section data-particle_enable="false" data-particle-mobile-disabled="false" class="ob-is-breaking-bad elementor-section elementor-top-section elementor-element elementor-element-7ded836 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7ded836" data-element_type="section" data-settings="{&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
								<div class="elementor-container elementor-column-gap-default">
									<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-99f17d6 ob-is-e3" data-id="99f17d6" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-ce2d305 ob-has-background-overlay elementor-widget elementor-widget-spacer" data-id="ce2d305" data-element_type="widget" data-settings="{&quot;_ob_spacerat_use&quot;:&quot;no&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="spacer.default">
												<div class="elementor-widget-container">
													<div class="elementor-spacer">
														<div class="elementor-spacer-inner"></div>
													</div>
												</div>
											</div>
											<section data-particle_enable="false" data-particle-mobile-disabled="false" class="ob-is-breaking-bad ob-bb-inner elementor-section elementor-inner-section elementor-element elementor-element-4fa08a3 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4fa08a3" data-element_type="section" data-settings="{&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-1f76973 ob-is-e3" data-id="1f76973" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-03987ea ob-harakiri-inherit ob-has-background-overlay elementor-widget elementor-widget-heading ob-harakiri" data-id="03987ea" data-element_type="widget" data-settings="{&quot;_ob_use_harakiri&quot;:&quot;yes&quot;,&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_harakiri_text_clip&quot;:&quot;none&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="heading.default">
																<div class="elementor-widget-container">
																	<h2 class="elementor-heading-title elementor-size-default">Utveckling</h2>
																</div>
															</div>
															<div class="elementor-element elementor-element-ba9ab54 ob-harakiri-inherit ob-has-background-overlay elementor-widget elementor-widget-text-editor ob-harakiri" data-id="ba9ab54" data-element_type="widget" data-settings="{&quot;_ob_use_harakiri&quot;:&quot;yes&quot;,&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_postman_use&quot;:&quot;no&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="text-editor.default">
																<div class="elementor-widget-container">
																	<style>
																		/*! elementor - v3.19.0 - 07-02-2024 */
																		.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
																			background-color: #69727d;
																			color: #fff
																		}

																		.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
																			color: #69727d;
																			border: 3px solid;
																			background-color: transparent
																		}

																		.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
																			margin-top: 8px
																		}

																		.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
																			width: 1em;
																			height: 1em
																		}

																		.elementor-widget-text-editor .elementor-drop-cap {
																			float: left;
																			text-align: center;
																			line-height: 1;
																			font-size: 50px
																		}

																		.elementor-widget-text-editor .elementor-drop-cap-letter {
																			display: inline-block
																		}</style>				<div>Att arbeta som konsult hos oss kännetecknas av kompetens. Vi erbjuder alltid våra konsulter att kompetensutvecklas för att hålla högst möjliga kvalitet.</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>
											<div class="elementor-element elementor-element-4f86c9e ob-has-background-overlay elementor-widget elementor-widget-spacer" data-id="4f86c9e" data-element_type="widget" data-settings="{&quot;_ob_spacerat_use&quot;:&quot;no&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="spacer.default">
												<div class="elementor-widget-container">
													<div class="elementor-spacer">
														<div class="elementor-spacer-inner"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-f1d81c0 ob-is-e3" data-id="f1d81c0" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-bdecf00 ob-has-background-overlay elementor-widget elementor-widget-spacer" data-id="bdecf00" data-element_type="widget" data-settings="{&quot;_ob_spacerat_use&quot;:&quot;no&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="spacer.default">
												<div class="elementor-widget-container">
													<div class="elementor-spacer">
														<div class="elementor-spacer-inner"></div>
													</div>
												</div>
											</div>
											<section data-particle_enable="false" data-particle-mobile-disabled="false" class="ob-is-breaking-bad ob-bb-inner elementor-section elementor-inner-section elementor-element elementor-element-4d493a0 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4d493a0" data-element_type="section" data-settings="{&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-94e00ec ob-is-e3" data-id="94e00ec" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-0e885ba ob-harakiri-inherit ob-has-background-overlay elementor-widget elementor-widget-heading ob-harakiri" data-id="0e885ba" data-element_type="widget" data-settings="{&quot;_ob_use_harakiri&quot;:&quot;yes&quot;,&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_harakiri_text_clip&quot;:&quot;none&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="heading.default">
																<div class="elementor-widget-container">
																	<h2 class="elementor-heading-title elementor-size-default">Valfrihet</h2>
																</div>
															</div>
															<div class="elementor-element elementor-element-edb35d4 ob-harakiri-inherit ob-has-background-overlay elementor-widget elementor-widget-text-editor ob-harakiri" data-id="edb35d4" data-element_type="widget" data-settings="{&quot;_ob_use_harakiri&quot;:&quot;yes&quot;,&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_postman_use&quot;:&quot;no&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="text-editor.default">
																<div class="elementor-widget-container">
																	<div>Hos oss kan du välja vilken lönemodell som passar dig bäst.&nbsp;&nbsp;Som konsult hos oss har du själv möjligheten att påverka hur ditt arbete ska se ut och läggas upp.</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>
										</div>
									</div>
									<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-aea34ce ob-is-e3" data-id="aea34ce" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-5841ae3 ob-has-background-overlay elementor-widget elementor-widget-spacer" data-id="5841ae3" data-element_type="widget" data-settings="{&quot;_ob_spacerat_use&quot;:&quot;no&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="spacer.default">
												<div class="elementor-widget-container">
													<div class="elementor-spacer">
														<div class="elementor-spacer-inner"></div>
													</div>
												</div>
											</div>
											<section data-particle_enable="false" data-particle-mobile-disabled="false" class="ob-is-breaking-bad ob-bb-inner elementor-section elementor-inner-section elementor-element elementor-element-5e77575 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5e77575" data-element_type="section" data-settings="{&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-43111a8 ob-is-e3" data-id="43111a8" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-1e65d00 ob-harakiri-inherit ob-has-background-overlay elementor-widget elementor-widget-heading ob-harakiri" data-id="1e65d00" data-element_type="widget" data-settings="{&quot;_ob_use_harakiri&quot;:&quot;yes&quot;,&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_harakiri_text_clip&quot;:&quot;none&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="heading.default">
																<div class="elementor-widget-container">
																	<h2 class="elementor-heading-title elementor-size-default">Kompetensutveckling</h2>
																</div>
															</div>
															<div class="elementor-element elementor-element-be64a1c ob-harakiri-inherit ob-has-background-overlay elementor-widget elementor-widget-text-editor ob-harakiri" data-id="be64a1c" data-element_type="widget" data-settings="{&quot;_ob_use_harakiri&quot;:&quot;yes&quot;,&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_postman_use&quot;:&quot;no&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="text-editor.default">
																<div class="elementor-widget-container">
																	<div><div>Vi värderar en rolig arbetsplats som präglas av hållbarhet, kamratskap och socialt engagemang. <span style="font-size: 16px;">Samma goda behandling av alla – oavsett bakgrund, utbildning eller läggning.</span></div></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>
											<div class="elementor-element elementor-element-eab8989 ob-has-background-overlay elementor-widget elementor-widget-spacer" data-id="eab8989" data-element_type="widget" data-settings="{&quot;_ob_spacerat_use&quot;:&quot;no&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="spacer.default">
												<div class="elementor-widget-container">
													<div class="elementor-spacer">
														<div class="elementor-spacer-inner"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section data-particle_enable="false" data-particle-mobile-disabled="false" class="ob-is-breaking-bad elementor-section elementor-top-section elementor-element elementor-element-0765455 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="0765455" data-element_type="section" data-settings="{&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
								<div class="elementor-container elementor-column-gap-default">
									<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b680d58 ob-is-e3" data-id="b680d58" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
										<div class="elementor-widget-wrap elementor-element-populated">
											<section data-particle_enable="false" data-particle-mobile-disabled="false" class="ob-is-breaking-bad ob-bb-inner elementor-section elementor-inner-section elementor-element elementor-element-3271a70 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default" data-id="3271a70" data-element_type="section" data-settings="{&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
												<div class="elementor-container elementor-column-gap-no">
													<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-70c88be ob-is-e3" data-id="70c88be" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-d8cd233 ob-has-background-overlay elementor-widget elementor-widget-spacer" data-id="d8cd233" data-element_type="widget" data-settings="{&quot;_ob_spacerat_use&quot;:&quot;no&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="spacer.default">
																<div class="elementor-widget-container">
																	<div class="elementor-spacer">
																		<div class="elementor-spacer-inner"></div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-222f771 ob-is-e3" data-id="222f771" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-ebe8caf ob-harakiri-inherit ob-has-background-overlay elementor-widget elementor-widget-heading ob-harakiri" data-id="ebe8caf" data-element_type="widget" data-settings="{&quot;_ob_use_harakiri&quot;:&quot;yes&quot;,&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_harakiri_text_clip&quot;:&quot;none&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="heading.default">
																<div class="elementor-widget-container">
																	<h2 class="elementor-heading-title elementor-size-default">Sybring förändrar och utmanar.</h2>
																</div>
															</div>
															<div class="elementor-element elementor-element-c90ee32 ob-harakiri-inherit ob-has-background-overlay elementor-widget elementor-widget-text-editor ob-harakiri" data-id="c90ee32" data-element_type="widget" data-settings="{&quot;_ob_use_harakiri&quot;:&quot;yes&quot;,&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_postman_use&quot;:&quot;no&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="text-editor.default">
																<div class="elementor-widget-container">
																	<p><b>Vi</b>&nbsp;är det lilla konsultföretaget som attraherar och utmanar genom att rekrytera den bästa arbetskraften.<br><b>Vi</b> sätter även avtryck på våra kunder genom att vara det personliga och det engagerande konsultföretaget.<br><b>Vi</b>&nbsp;värdesätter balans mellan arbete och privatliv.<br><b>Vi</b>&nbsp;vill främja en aktiv livsstil med friskvård och ett hållbart arbetssätt, där vi ser varandras lika värde, och olikheter hos varandra som en styrka och en potential till framgång.</p><p>Sybring bildades 2018, då som idag är Thomas Carlsson VD och ägare av bolaget.<br>Namnet Sybring består av två ord, System och Bring, något som alltid genomsyrat arbetssättet i bolaget med entreprenörer i ett flertal länder. Att finna kompetens och att alltid leverera är ett signum för Sybring.</p><p>Thomas har arbetat i konsultbranschen sedan år 2000. Dessförinnan arbetade han i många år på telekombolaget Ericsson.</p><p>Sedan år 2015 äger han även itost-Konsult i Östergötland som stöttar Sybring inom rekrytering av entreprenörer. Sybring är konsultföretaget där arbetssättet genomsyras av hållbarhet, hög kompetens och nöjda kunder och medarbetare.</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>
											<div class="elementor-element elementor-element-df5c213 ob-has-background-overlay elementor-widget elementor-widget-spacer" data-id="df5c213" data-element_type="widget" data-settings="{&quot;_ob_spacerat_use&quot;:&quot;no&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="spacer.default">
												<div class="elementor-widget-container">
													<div class="elementor-spacer">
														<div class="elementor-spacer-inner"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section data-particle_enable="false" data-particle-mobile-disabled="false" class="ob-is-breaking-bad elementor-section elementor-top-section elementor-element elementor-element-9a018f4 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="9a018f4" data-element_type="section" data-settings="{&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
								<div class="elementor-container elementor-column-gap-default">
									<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-56b2b94 ob-is-e3" data-id="56b2b94" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-f122026 ob-harakiri-inherit ob-has-background-overlay elementor-widget elementor-widget-heading ob-harakiri" data-id="f122026" data-element_type="widget" data-settings="{&quot;_ob_use_harakiri&quot;:&quot;yes&quot;,&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_harakiri_text_clip&quot;:&quot;none&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h2 class="elementor-heading-title elementor-size-default">Vi som arbetar på Sybring</h2>
												</div>
											</div>
											<section data-particle_enable="false" data-particle-mobile-disabled="false" class="ob-is-breaking-bad ob-bb-inner elementor-section elementor-inner-section elementor-element elementor-element-b9d4e41 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="b9d4e41" data-element_type="section" data-settings="{&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-84f606b ob-is-e3" data-id="84f606b" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-70e3027 eael-team-align-eael-team-align-default ob-has-background-overlay elementor-widget elementor-widget-eael-team-member" data-id="70e3027" data-element_type="widget" data-settings="{&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="eael-team-member.default">
																<div class="elementor-widget-container">


																	<div id="eael-team-member-70e3027" class="eael-team-item eael-team-members-simple ">
																		<div class="eael-team-item-inner">
																			<div class="eael-team-image">
																				<figure>
																					<img decoding="async" src="https://sybring.com/wp-content/uploads/2023/09/Om-oss-Anna-Berg-scaled.jpg" alt="Anna Berg">
																				</figure>


																			</div>

																			<div class="eael-team-content">
																				<h3 class="eael-team-member-name">Anna Berg</h3>
																				<h4 class="eael-team-member-position">Projektledare</h4>

																				<p class="eael-team-text">Kunskaper: Elingenjör, Projektledare</p>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-108fe5b ob-is-e3" data-id="108fe5b" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-c9a744c eael-team-align-eael-team-align-default ob-has-background-overlay elementor-widget elementor-widget-eael-team-member" data-id="c9a744c" data-element_type="widget" data-settings="{&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="eael-team-member.default">
																<div class="elementor-widget-container">


																	<div id="eael-team-member-c9a744c" class="eael-team-item eael-team-members-simple ">
																		<div class="eael-team-item-inner">
																			<div class="eael-team-image">
																				<figure>
																					<img decoding="async" src="https://sybring.com/wp-content/uploads/2023/09/Om-oss-Thomas-Carlsson-scaled.jpg" alt="">
																				</figure>


																			</div>

																			<div class="eael-team-content">
																				<h3 class="eael-team-member-name">Thomas Carlsson</h3>
																				<h4 class="eael-team-member-position">VD, Försäljning</h4>

																				<p class="eael-team-text">
																					Kunskaper:
																					Projektledning, Ledarskap, Försäljning
																				</p>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-8a7f666 ob-is-e3" data-id="8a7f666" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-9008488 eael-team-align-eael-team-align-default ob-has-background-overlay elementor-widget elementor-widget-eael-team-member" data-id="9008488" data-element_type="widget" data-settings="{&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="eael-team-member.default">
																<div class="elementor-widget-container">


																	<div id="eael-team-member-9008488" class="eael-team-item eael-team-members-simple ">
																		<div class="eael-team-item-inner">
																			<div class="eael-team-image">
																				<figure>
																					<img decoding="async" src="https://sybring.com/wp-content/uploads/2023/09/Om-oss-Lidja-Low-scaled.jpg" alt="">
																				</figure>


																			</div>

																			<div class="eael-team-content">
																				<h3 class="eael-team-member-name">Lidja Low</h3>
																				<h4 class="eael-team-member-position">Testledare, Krav</h4>

																				<p class="eael-team-text">Kunskaper: Finansiella system, Projektledning, Testledning, Krav</p>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>
											<section data-particle_enable="false" data-particle-mobile-disabled="false" class="ob-is-breaking-bad ob-bb-inner elementor-section elementor-inner-section elementor-element elementor-element-cac8ccb elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="cac8ccb" data-element_type="section" data-settings="{&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-8692c6e ob-is-e3" data-id="8692c6e" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-e44f582 eael-team-align-eael-team-align-default ob-has-background-overlay elementor-widget elementor-widget-eael-team-member" data-id="e44f582" data-element_type="widget" data-settings="{&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="eael-team-member.default">
																<div class="elementor-widget-container">


																	<div id="eael-team-member-e44f582" class="eael-team-item eael-team-members-simple ">
																		<div class="eael-team-item-inner">
																			<div class="eael-team-image">
																				<figure>
																					<img decoding="async" src="https://sybring.com/wp-content/uploads/2023/09/Om-oss-Aziz-Mannanov-scaled.jpg" alt="">
																				</figure>


																			</div>

																			<div class="eael-team-content">
																				<h3 class="eael-team-member-name">Aziz Mannanov</h3>
																				<h4 class="eael-team-member-position">Utvecklare</h4>

																				<p class="eael-team-text">Kunskaper: Fullstack utveckling, .Net</p>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-e7a3a80 ob-is-e3" data-id="e7a3a80" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-21b659e eael-team-align-eael-team-align-default ob-has-background-overlay elementor-widget elementor-widget-eael-team-member" data-id="21b659e" data-element_type="widget" data-settings="{&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="eael-team-member.default">
																<div class="elementor-widget-container">


																	<div id="eael-team-member-21b659e" class="eael-team-item eael-team-members-simple ">
																		<div class="eael-team-item-inner">
																			<div class="eael-team-image">
																				<figure>
																					<img decoding="async" src="https://sybring.com/wp-content/uploads/2023/10/Om-oss-Rickard-Rauge-scaled.jpg" alt="Rickard Rauge">
																				</figure>


																			</div>

																			<div class="eael-team-content">
																				<h3 class="eael-team-member-name">RICKARD RAUGE</h3>
																				<h4 class="eael-team-member-position">Försäljningsansvarig</h4>

																				<p class="eael-team-text">
																					Kunskaper: Ledarskap, Försäljning, Affärsutveckling
																				</p>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-55cd71f ob-is-e3" data-id="55cd71f" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-c9e0e4a eael-team-align-eael-team-align-default ob-has-background-overlay elementor-widget elementor-widget-eael-team-member" data-id="c9e0e4a" data-element_type="widget" data-settings="{&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="eael-team-member.default">
																<div class="elementor-widget-container">


																	<div id="eael-team-member-c9e0e4a" class="eael-team-item eael-team-members-simple ">
																		<div class="eael-team-item-inner">
																			<div class="eael-team-image">
																				<figure>
																					<img decoding="async" src="https://sybring.com/wp-content/uploads/2023/09/Om-oss-Henrik-Sorin-Hildebrand-scaled.jpg" alt="">
																				</figure>


																			</div>

																			<div class="eael-team-content">
																				<h3 class="eael-team-member-name">Henrik Sorin Hildebrand</h3>
																				<h4 class="eael-team-member-position">Projektledare, Krav</h4>

																				<p class="eael-team-text">Kunskaper: Webbutveckling, Krav, Marknadsföring, Projektledning</p>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>
											<section data-particle_enable="false" data-particle-mobile-disabled="false" class="ob-is-breaking-bad ob-bb-inner elementor-section elementor-inner-section elementor-element elementor-element-8c3a4c9 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8c3a4c9" data-element_type="section" data-settings="{&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-7d689dc ob-is-e3" data-id="7d689dc" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-06770fe ob-has-background-overlay elementor-widget elementor-widget-image" data-id="06770fe" data-element_type="widget" data-settings="{&quot;_ob_photomorph_use&quot;:&quot;no&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="image.default">
																<div class="elementor-widget-container">
																	<img loading="lazy" decoding="async" width="768" height="1024" src="https://sybring.com/wp-content/uploads/2023/06/05BBF1A5-475D-4ABD-A61C-D4972DFCE319_1_105_c.jpeg" class="attachment-full size-full wp-image-45" alt="" srcset="https://sybring.com/wp-content/uploads/2023/06/05BBF1A5-475D-4ABD-A61C-D4972DFCE319_1_105_c.jpeg 768w, https://sybring.com/wp-content/uploads/2023/06/05BBF1A5-475D-4ABD-A61C-D4972DFCE319_1_105_c-225x300.jpeg 225w" sizes="(max-width: 768px) 100vw, 768px">
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5c0737d ob-is-e3" data-id="5c0737d" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-839cab0 ob-harakiri-inherit ob-has-background-overlay elementor-widget elementor-widget-heading ob-harakiri" data-id="839cab0" data-element_type="widget" data-settings="{&quot;_ob_use_harakiri&quot;:&quot;yes&quot;,&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_harakiri_text_clip&quot;:&quot;none&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="heading.default">
																<div class="elementor-widget-container">
																	<h2 class="elementor-heading-title elementor-size-default">ÖVRIG EXPERTIS</h2>
																</div>
															</div>
															<div class="elementor-element elementor-element-aad4dc6 ob-harakiri-inherit ob-has-background-overlay elementor-widget elementor-widget-text-editor ob-harakiri" data-id="aad4dc6" data-element_type="widget" data-settings="{&quot;_ob_use_harakiri&quot;:&quot;yes&quot;,&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_postman_use&quot;:&quot;no&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="text-editor.default">
																<div class="elementor-widget-container">
																	<p>Från vårt nätverk kan vi erbjuda entreprenörer som jobbar med:</p><p>Projektledning, Testledning, Chef/Ledarskap, Fullstack utveckling, Frontend/Backend, .Net, Java, C/C++, Elingenjör</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>
										</div>
									</div>
								</div>
							</section>
							<section data-particle_enable="false" data-particle-mobile-disabled="false" class="ob-is-breaking-bad elementor-section elementor-top-section elementor-element elementor-element-fb2bdeb elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="fb2bdeb" data-element_type="section" data-settings="{&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
								<div class="elementor-container elementor-column-gap-default">
									<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c7f04bb ob-is-e3" data-id="c7f04bb" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-fcf4b3d ob-has-background-overlay elementor-widget elementor-widget-spacer" data-id="fcf4b3d" data-element_type="widget" data-settings="{&quot;_ob_spacerat_use&quot;:&quot;no&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="spacer.default">
												<div class="elementor-widget-container">
													<div class="elementor-spacer">
														<div class="elementor-spacer-inner"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>



					</div><!-- .entry-content .clear -->



				</article><!-- #post-## -->

			</main><!-- #main -->


		</div><!-- #primary -->


	</div> <!-- ast-container -->
</div>