

<div class="container">
   
    <div class="row">
        <div class="col-md-3">
            <div class="card mb-4">
                <img src="https://timeblobstorage.blob.core.windows.net/projectimages/Om-oss-Thomas-Carlsson-scaled.jpg" alt="BildThomas" class="card-img-top" />

                <div class="card-body text-center">
                    <h5 class="card-title">THOMAS CARLSSON</h5>
                    <p>VD, FÖRSÄLJNING</p>
                    <a href="mailto:thomas.carlsson@sybring.com">thomas.carlsson@sybring.com</a><br />
                    <a href="tel:+46706700707">+46706700707</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4">
                <img src="https://timeblobstorage.blob.core.windows.net/projectimages/Om-oss-Henrik-Sorin-Hildebrand-scaled.jpg" alt="BildHenrik" class="card-img-top" />

                <div class="card-body text-center">
                    <h5 class="card-title">HENRIK SORIN HILDEBRAND</h5>
                    <p>PROJEKTLEDARE OCH FÖRSÄLJNING</p>
                    <a href="mailto:henrik.sorin@sybring.com">henrik.sorin@sybring.com</a>
                  
                </div>
            </div>
        </div>

    </div>
</div>