@if (User.IsInRole("admin"))
{
    <section class="section">

    <div class="row">
        <div class="card p-3">
            <div class="col-lg-12 bg-white p-3">
                <h5 class="card-title pb-2 fs-4"> Frequently Asked Questions (FAQ)</h5>
                <p>
                    1.How do I get started with TimeReport ?
                    After logging in for the first time, the initial step is to fill in your profile information.
                    Navigate to your profile section and enter essential details such as your Addres,Phone, ice contact information, and any other relevant preferences. Once your profile is complete, you can begin logging your work hours and activities efficiently.
                </p>
                <p>
                    2.How does TimeReport work?
                    TimeReport provides a straightforward interface where consultants can quickly input their work hours. Additionally, consultants can upload receipts for expenses such as travel reimbursement after logging their work hours. This feature allows consultants to easily track and manage their expenses, ensuring timely reimbursement and accurate financial records.

                </p>
                <p>
                    3.
                </p>
                <p>
                    4.
                </p>
                5.
                <p>
                    6.
                </p>
                <p>
                    7.

                </p>

            </div>
        </div>

    </div>
</section>
}
else if (User.IsInRole("underconsult")){
<section class="section">

    <div class="row">
        <div class="card p-3">
            <div class="col-lg-12 bg-white p-3">
                <h5 class="card-title pb-2 fs-4"> Frequently Asked Questions (FAQ)</h5>
                <p>
                    1.How do I get started with TimeReport ?
                    After logging in for the first time, the initial step is to fill in your profile information.
                    Navigate to your profile section and enter essential details such as your Addres,Phone, ice contact information, and any other relevant preferences. Once your profile is complete, you can begin logging your work hours and activities efficiently.
                </p>
                <p>
                    2.How does TimeReport work?
                    TimeReport provides a straightforward interface where consultants can quickly input their work hours. Additionally, consultants can upload receipts for expenses such as travel reimbursement after logging their work hours. This feature allows consultants to easily track and manage their expenses, ensuring timely reimbursement and accurate financial records.

                </p>
                <p>
                    3.
                </p>
                <p>
                    4.
                </p>
                5.
                <p>
                    6.
                </p>
                <p>
                    7.

                </p>

            </div>
        </div>

    </div>
</section>
}
