@{
    ViewData["Title"] = "Home Page";
}


@if (User.IsInRole("admin"))
{
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div>
                        <div class="card info-card sales-card">
                            <h4 class="card-title text-center">
                                <span>
                                    <img src="~/logo/sybring_logo-black_250px.png" width="auto" height="70" />

                                    <p class="pt-3">Welcome to Sybring's Time Report</p>

                                </span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card info-card sales-card">

                            

                            <div class="card-body">
                                <h5 class="card-title">Users <span>|</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>

                                    <div class="ps-3">
                                        <h6></h6>

                                        <p class="pt-2 mb-0"><a href="#" class="btn btn-primary btn-sm">Show All Users</a></p>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class=" col-md-4">
                        <div class="card info-card revenue-card">

                            

                            <div class="card-body">
                                <h5 class="card-title">Time <span>| </span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-calendar2-check"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6></h6>

                                        <p class="pt-2 mb-0"><a href="#" class="btn btn-success btn-sm">Show Time Reports</a></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="card info-card customers-card">

                            

                            <div class="card-body">
                                <h5 class="card-title">Projects <span>| </span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-table"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6></h6>
                                        <p class="pt-2 mb-0"><a href="#" class="btn btn-danger btn-sm">Show All Projects</a></p>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>


                <div class="col-12">
                    <div class="card recent-sales overflow-auto">

                        

                        <div class="card-body">
                            <h5 class="card-title">Time Reports <span>|  Activitys</span></h5>

                            @* <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">User</th>
                                        <th scope="col">Project</th>
                                        <th scope="col">Hours</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"><a href="#">#2457</a></th>
                                        <td>Fname Lname</td>
                                        <td><a href="#" class="text-primary">Simens</a></td>
                                        <td>8</td>
                                        <td>2024-04-15</td>
                                        <td><span class="badge bg-success">Approved</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2147</a></th>
                                        <td>Fname Lname</td>
                                        <td><a href="#" class="text-primary">Jordbruksverket</a></td>
                                        <td>6</td>
                                        <td>2024-04-14</td>
                                        <td><span class="badge bg-warning">Pending</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2049</a></th>
                                        <td>Fname Lname</td>
                                        <td><a href="#" class="text-primary">Hydro</a></td>
                                        <td>4</td>
                                        <td>2024-04-13</td>
                                        <td><span class="badge bg-success">Approved</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2644</a></th>
                                        <td>Fname Lname</td>
                                        <td><a href="#" class="text-primary">Väderstad</a></td>
                                        <td>7</td>
                                        <td>2024-04-12</td>
                                        <td><span class="badge bg-danger">Rejected</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2644</a></th>
                                        <td>Fname Lname</td>
                                        <td><a href="#" class="text-primary">Hydro</a></td>
                                        <td>5</td>
                                        <td>2024-04-11</td>
                                        <td><span class="badge bg-success">Approved</span></td>
                                    </tr>
                                </tbody>
                            </table> *@

                        </div>

                    </div>
                </div>



            </div>
        </div>

    </section>


}
else if (User.IsInRole("underconsult"))
{
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div>
                        <div class="card info-card sales-card">
                            <h4 class="card-title text-center">
                                <span>
                                    <img src="~/logo/sybring_logo-black_250px.png" width="auto" height="70" />
                                    
                                        <p class="pt-3">Welcome to Sybring's Time Report</p>
                                    
                                </span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card info-card sales-card">

                            <div class="card-body">
                                <h5 class="card-title">Users <span>|</span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>

                                    <div class="ps-3">
                                        <h6></h6>
                                        <p class="pt-2 mb-0"><a href="#" class="btn btn-primary btn-sm">Profile</a></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="card info-card revenue-card">


                            <div class="card-body">
                                <h5 class="card-title">Time <span>| </span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-calendar2-check"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6></h6>

                                        <p class="pt-2 mb-0"><a href="@Url.Action("Create", "Time")" class="btn btn-success btn-sm">Time Report </a></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">

                        <div class="card info-card customers-card">



                            <div class="card-body">
                                <h5 class="card-title">History <span>| </span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center ">
                                        <i class="bi bi-table"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6></h6>
                                        <p class="pt-2 mb-0"><a href="@Url.Action("Index", "Time")" class="btn btn-danger btn-sm">Time History</a></p>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="card info-card sales-card  ">



                            <div class="card-body">
                                <h5 class="card-title">Files <span>| </span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center ">
                                        <i class="bi bi-file-earmark-arrow-up text-info"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6></h6>
                                        <p class="pt-2 mb-0"><a href="@Url.Action("Index", "Billing")" class="btn btn-info btn-sm  text-white">Expenses</a></p>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>


                <div class="col-12">
                    <div class="card  recent-sales overflow-auto">



                        <div class="card-body">
                            <h5 class="card-title">Time Reports <span>|  Activitys</span></h5>
                           
                           @*  <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">User</th>
                                        <th scope="col">Project</th>
                                        <th scope="col">Hours</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"><a href="#">#2457</a></th>
                                        <td>Fname Lname</td>
                                        <td><a href="#" class="text-primary">Simens</a></td>
                                        <td>8</td>
                                        <td>2024-04-15</td>
                                        <td><span class="badge bg-success">Approved</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2147</a></th>
                                        <td>Fname Lname</td>
                                        <td><a href="#" class="text-primary">Jordbruksverket</a></td>
                                        <td>6</td>
                                        <td>2024-04-14</td>
                                        <td><span class="badge bg-warning">Pending</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2049</a></th>
                                        <td>Fname Lname</td>
                                        <td><a href="#" class="text-primary">Hydro</a></td>
                                        <td>4</td>
                                        <td>2024-04-13</td>
                                        <td><span class="badge bg-success">Approved</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2644</a></th>
                                        <td>Fname Lname</td>
                                        <td><a href="#" class="text-primary">Väderstad</a></td>
                                        <td>7</td>
                                        <td>2024-04-12</td>
                                        <td><span class="badge bg-danger">Rejected</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2644</a></th>
                                        <td>Fname Lname</td>
                                        <td><a href="#" class="text-primary">Hydro</a></td>
                                        <td>5</td>
                                        <td>2024-04-11</td>
                                        <td><span class="badge bg-success">Approved</span></td>
                                    </tr>
                                </tbody>
                            </table> *@

                        </div>

                    </div>
                </div>



            </div>
        </div>

    </section>
}
else
{
    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-12">
                <div class="card" style="position: relative;">
                    <img src="~/logo/pictures/pexels-dominika-roseclay-1036808.jpg" class="card-img-top img-fluid" alt="bild" />

                    <div class="card-body position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <img src="~/logo/sybring_logo-black_500px.png" style="width: 50px; height: auto;" />
                        <h2>Welcome to Sybring's Time Reporting System</h2>
                        <p class="lead">Here, you can easily report your worked hours and keep track of your projects.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

}

