

@model sybring_project.Models.Holiday

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h2>Holiday Information</h2>

    <p>Date: @Model.Datum</p>
    <p>Day of the Week: @Model.Veckodag</p>
    <p>Is a Working Day: @Model.Arbetsfridag</p>
    <p>Is a Red Day: @Model.Röddag</p>

</div>
